body{
    font-family: 'Inria Serif', serif;
    
    background-color:#FAE4E4;
}
.container{
    width: 1200px;
    height: 1000px;
    overflow: hidden;
    margin: auto;
    
}
.header{
    width: 100%;
    height:auto;
    overflow: hidden;
    display: flex;
}
.logo{
    width: 200px;
    text-align: center;
    font-size: 15px;  
    display: flex;
    justify-content: center;
    align-items: center; 
}
.menu{
    width: 50%;
    margin-left: auto;
    height: auto;
    overflow: hidden;
}
.menu ul{
    margin-left: auto;
    padding: 0;
    list-style-type: none; 
    display: flex;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 23px;
    font-size: 20px;
    color: black;
}
.menu ul li .box{
    background-color: white;
    color: red;
    border-radius: 20px;
}
.box1{
    width: 100%;
    display: flex;
    
}
.title{
    width: 60%;
    text-align: center;
    font-size: 26px;
    margin-top: 10%;
}
.title h4{
    font-size: 30px;
}
.photo{
    width: 40%;
    
}
.photo img{
    width: 80%;
    height: 450px;
    margin-top: 10%;
    box-shadow: 10px 10px 5px lightpink;
    border-radius: 15%;
}
.footer-contact ul {
    display: flex;
    list-style-type: none;
    gap: 3% ;
  font-size: 19px;
    margin-top: 18%;
    color: rgb(99, 92, 92);
  }
  .footer-contact ul li{
    display: flex;
    gap: 10px;
  }
