body {
  font-family: "Inria Serif", serif;
  background-color: #fae4e4;
}
.container {
  width: 1200px;
  height: 1000px;
  overflow: hidden;
  margin: auto;
 
}
.header {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
}
.logo {
  font-family: 'Luckiest Guy', cursive; 
  width: 200px;
  text-align: center;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1{
  color: #7bca21;
}
.logo h2{
 
  color:rgb(12, 190, 190);
  margin-top: 6rem;
}
.menu {
  width: 50%;
  margin-left: auto;
  height: auto;
  overflow: hidden;
}
.menu ul {
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu ul li a {
  text-decoration: none;
  display: block;
  padding: 23px;
  font-size: 25px;
  color: black;
}
.menu ul li .box {
  background-color: white;
  color: red;
  border-radius: 20px;
}
.box1 {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-top: 50px;
}
.photo {
  width: 40%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo img {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 10px 10px 5px lightpink;
}
.title {
  width: 60%;
  margin-top: 3%;
  text-align: center;
}
.title h1 {
  font-size: 50px;
}
.title p {
  font-size: 25px;
  line-height: 40px;
}
.footer-contact ul {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  font-size: 19px;
  margin-top: 16rem;
  color: rgb(99, 92, 92);
}
.footer-contact ul li{
  display: flex;
  gap: 10px;
}