body{
    font-family: 'Inria Serif', serif;
    background-color:#FAE4E4;
}
.container{
    max-width: 1050px;
    height:1000px;
    overflow: hidden;
    margin: auto;
    background-color:#F6CACA;
}
.header{
    width: 100%;
    height:auto;
    overflow: hidden;
    display: flex;
}
.logo{
    width: 200px;
    text-align: center;
    font-size: 15px;  
    display: flex;
    justify-content: center;
    align-items: center; 
   
}
.menu{
    width: 50%;
    margin-left: auto;
    height: auto;
    overflow: hidden;
}
.menu ul{
    margin-left: auto;
    padding: 0;
    list-style-type: none; 
    display: flex;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 23px;
    font-size: 20px;
    color: black;
}
.menu ul li .box{
    background-color: white;
    color: red;
    border-radius: 20px;
}
.box1{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.title1{
    width: 48%;  
}
.title1 h1{
  margin-left: 23%;
}
.title1 ul{
    list-style-type: none;
    font-size: 28px;  
}
.title1 i{
    margin-top: 5%;
}
.title2{
    width: 50%;
}
.title2 h1{
    margin-left: 30%;
}
 .title2 p{
  font-size: 28px;
   margin-bottom: 8px;
}
.title2 a{
    padding: 10px;
    background-color: #C9E7F3;
    align-items: center;
   
}